<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    {{ if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}

    <title>
      {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
      {{ if eq $url "/" }}
        {{ .Site.Title }}
      {{ else }}
        {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
      {{ end }}
    </title>
    <link rel="canonical" href="{{ .Permalink }}">

    {{ partial "styles.html" . }}

  </head>

  <body>
    <div id="menu">
      <span class="left" style="display:inline:block">    
          <font size="10"> <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> </font>
      </span>
      <span class="right" style="display:inline:block">    
          <font size="10"> <a href="{{ .Site.BaseURL }}/tags">tags</a> </font>
      {{ range .Site.RegularPages }}
        {{ if eq .Type "page" }}
          <font size="10"> <a href="{{ .Permalink }}">{{ .Title }}</a> </font>
        {{ end }}
      {{ end }}
          <font size="10"> <a href="{{ .Site.BaseURL }}/index.xml">rss</a> </font>
      </span>
    </div>
